.status_circle1{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: green;
  display: inline-block;
}
.status_circle2{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: red;
  display: inline-block;
}
